<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.G346.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.G346.pojo.User">
    <id column="account" jdbcType="VARCHAR" property="userAccount" />
    <result column="password" jdbcType="VARCHAR" property="userPassword" />
    <result column="name" jdbcType="VARCHAR" property="userName" />
    <result column="age" jdbcType="INTEGER" property="userAge" />
    <result column="sex" jdbcType="VARCHAR" property="userSex" />
    <result column="phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where account = #{userAccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.G346.pojo.User">
    insert into user (account, password,
      name, age, sex,
      phone, address)
    values ( #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, #{userSex,jdbcType=VARCHAR},
      #{userPhone,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.G346.pojo.User">
    update user
    set
      password = #{userPassword,jdbcType=VARCHAR},
      name = #{userName,jdbcType=VARCHAR},
      age = #{userAge,jdbcType=INTEGER},
      sex = #{userSex,jdbcType=VARCHAR},
      phone = #{userPhone,jdbcType=VARCHAR},
      address = #{userAddress,jdbcType=VARCHAR}
    where account = #{userAccount,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from user
    where account = #{userAccount,jdbcType=VARCHAR}
  </select>
  <select id="lookupUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM user
    <where>
      <if test="name != null and name != ''">
        name LIKE '%${name}%'
      </if>
    </where>
  </select>
  <select id="findUserByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from user
    where account = #{userAccount,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select  *
    from user
  </select>
</mapper>